:root {
  --width-layout: 160px;
  --nav-heigth: 60px;
  --sidebar-color: #fff;
  --icons-color: #332b2b;
  --hover-sidebar-color: #a7f5ab;
  --border-color: #5f645f18;
}

html,
body {  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainContent {
  position: absolute;
  top: 60px;
  left: var(--width-layout);
}

@media (max-width: 900px) {
  :root {
    --width-layout: 58px;
  }
}
/* width */
::-webkit-scrollbar {
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1b31; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1b318e; 
}