:root {
  --width-layout: 160px;
  --nav-heigth: 60px;
  --margin-section: 10px;
  --width-scroll: 4px;
  
  --sidebar-color: #fff;
  --icons-color: #332b2b;
  --hover-sidebar-color: #a7f5ab;
  --border-color: #babfc7;
  --bar-nav: #fff; 
}

/* noto-sans-jp-regular - latin */
@font-face {
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url('../public/fonts/noto-sans-jp-v36-latin-regular.woff2') format('woff2'),
       local('Noto Sans JP'), url('/public/fonts/noto-sans-jp-v36-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {  
  font-family: 'Noto Sans JP';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainContent {
  position: absolute;
  top: var(--nav-heigth);
  left: var(--width-layout);
  left: calc(var(--width-layout) - 1px);

  width: calc(100vw - var(--width-layout));
  height: calc(100vh - var(--nav-heigth));
  /* overflow-x: scroll; */
}

@media (max-width: 900px) {
  :root {
    --width-layout: 58px;
  }
}
/* width */
::-webkit-scrollbar {
  width:  4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
  /* background: blue;  */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bar-nav); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1b318e; 
}