.navbar {
  background-color: var(--sidebar-color);
  margin: 0;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  z-index: 10;
  width: 100%;

}
.list{
  display: flex;
  justify-content: space-between;
  height: var(--nav-heigth);
  align-items: center;
  margin: 0 20px;
}
.links a{
  margin-left: 20px;
  font-family: 'Noto Sans JP';

}
