.aside {
  background-color: var(--sidebar-color);
  border-right: 1px solid var(--border-color);  
  height: calc(100vh - var(--nav-heigth));
  overflow: hidden;
  overflow-y: scroll;  
  position: fixed;
  top: var(--nav-heigth);
  width: var(--width-layout);
}

.aside:hover {
  --bar-nav: var(--border-color); 
}
.list{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.links {
  align-content: center;
  color: var(--icons-color);
  display: flex;
  padding: 5px;
}

.links i {
  font-size: 20px;
}
.links span {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 10px;
}
.links:hover {
  background-color: var(--hover-sidebar-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media (max-width: 900px) {
  .links {
    margin-left: 4px;
  }
  .links:hover {
    margin: 0;
  }
  .links span {
    display: none;
  }
  .links  i {
    margin: 0 auto;
  }
}
